<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link a href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <h1>Bu Bir Başlık</h1>
    <p>Index Works</p>
    <a title="Link title" href="#">Bu Bir Link</a>
</body>

</html>